@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
#discover-page {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#discover-page .filters-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

#discover-page .filters-container .filter {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 40px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#discover-page .filters-container .filter .filter-name {
  color: #2A3B45;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

#discover-page .filters-container .filter.genre {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
}

#discover-page .filters-container .filter.genre .genre-dropdown {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#discover-page .filters-container .filter.genre .genre-dropdown .add-genre {
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#discover-page .filters-container .filter.genre .genre-dropdown .add-genre span {
  position: absolute;
  display: inline-block;
  background-color: #2A3B45;
}

#discover-page .filters-container .filter.genre .genre-dropdown .add-genre span:nth-child(1) {
  width: 4px;
  height: 20px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#discover-page .filters-container .filter.genre .genre-dropdown .add-genre span:nth-child(2) {
  width: 20px;
  height: 4px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#discover-page .filters-container .filter.genre .genre-dropdown .add-genre.open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#discover-page .filters-container .filter.genre .genre-dropdown .dropdown-selections {
  width: 70%;
  height: 400px;
  position: absolute;
  top: 0;
  left: calc(100% + 20px);
  display: none;
  border-radius: 5px;
  overflow: auto;
}

#discover-page .filters-container .filter.genre .genre-dropdown .dropdown-selections .selection {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

#discover-page .filters-container .filter.genre .genre-dropdown .dropdown-selections .selection:hover {
  background-color: #567CA0;
}

#discover-page .filters-container .filter.genre .genre-dropdown .dropdown-selections.open {
  display: initial;
}

#discover-page .filters-container .filter.genre .added-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

#discover-page .filters-container .filter.genre .added-genres .filter-genre {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: calc(1.4rem + 10px);
  background-color: #567CA0;
  color: white;
  font-size: 1.4rem;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(15, 58, 102, 0.473);
          box-shadow: 1px 1px 2px 0px rgba(15, 58, 102, 0.473);
}

#discover-page .filters-container .filter.genre .added-genres .filter-genre .remove-genre {
  width: 16px;
  height: 16px;
  position: relative;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#discover-page .filters-container .filter.genre .added-genres .filter-genre .remove-genre span {
  position: absolute;
  display: inline-block;
  background-color: #2A3B45;
  pointer-events: none;
}

#discover-page .filters-container .filter.genre .added-genres .filter-genre .remove-genre span:nth-child(1) {
  width: 2px;
  height: 12px;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#discover-page .filters-container .filter.genre .added-genres .filter-genre .remove-genre span:nth-child(2) {
  width: 12px;
  height: 2px;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#discover-page .filters-container .filter.year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#discover-page .filters-container .filter.year select {
  width: 60px;
  outline: none;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

#discover-page .filters-container .filter.order-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#discover-page .filters-container .filter.order-by select {
  outline: none;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

#discover-page .filters-container a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  font-size: 1.7rem;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

#discover-page .filters-container a:hover {
  background-color: white;
  color: #2A3B45;
  -webkit-transition: none;
  transition: none;
}

#discover-page .results-container {
  width: 100%;
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}

#discover-page .results-container .card-row {
  max-width: calc(calc(160px * 5) + calc(40px * 4));
  padding-bottom: 6rem;
  overflow: hidden;
}

#discover-page .results-container .card-row .cards-container {
  width: 10000px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

#discover-page .results-container .card-row .cards-container .discover-card {
  width: 160px;
  height: 240px;
  position: relative;
  background-color: #567CA0;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  -webkit-animation: fadeIn 0.5s forwards;
          animation: fadeIn 0.5s forwards;
}

#discover-page .results-container .card-row .cards-container .discover-card:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#discover-page .results-container .card-row .cards-container .discover-card:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#discover-page .results-container .card-row .cards-container .discover-card:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#discover-page .results-container .card-row .cards-container .discover-card:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(45deg) scale(0);
            transform: translateX(100%) rotate(45deg) scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%) rotate(0deg) scale(1);
            transform: translateX(0%) rotate(0deg) scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(45deg) scale(0);
            transform: translateX(100%) rotate(45deg) scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%) rotate(0deg) scale(1);
            transform: translateX(0%) rotate(0deg) scale(1);
  }
}

#discover-page .results-container .card-row .cards-container .discover-card .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  border: 2px solid #26323D;
  overflow: hidden;
}

#discover-page .results-container .card-row .cards-container .discover-card .wrapper .backdrop-wrapper, #discover-page .results-container .card-row .cards-container .discover-card .wrapper .poster-wrapper {
  width: 100%;
  height: 100%;
}

#discover-page .results-container .card-row .cards-container .discover-card .wrapper .backdrop-wrapper img, #discover-page .results-container .card-row .cards-container .discover-card .wrapper .poster-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#discover-page .results-container .card-row .cards-container .discover-card .wrapper .poster-wrapper {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#discover-page .results-container .card-row .cards-container .discover-card .wrapper .details-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#0F1B26), to(#0f1b2600));
  background: linear-gradient(to top, #0F1B26, #0f1b2600);
  -webkit-transition: visibility 0s 0.5s, opacity 0.5s;
  transition: visibility 0s 0.5s, opacity 0.5s;
}

#discover-page .results-container .card-row .cards-container .discover-card .title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: calc(100% + 2rem);
  display: inline-block;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

#discover-page .results-container .card-row .cards-container .discover-card:hover {
  width: 360px;
}

#discover-page .results-container .card-row .cards-container .discover-card:hover .wrapper .poster-wrapper {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

#discover-page .results-container .card-row .cards-container .discover-card:hover .wrapper .details-wrapper {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/*# sourceMappingURL=discover.css.map */