@import './../variables';

#discover-page {
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    padding-top: 150px;

    display: flex;

    .filters-container {
        width: fit-content;
        height: fit-content;

        display: flex;
        flex-flow: column;
        align-items: flex-end;
        gap: 20px;

        .filter {
            width: 300px;
            height: fit-content;
            min-height: 40px;
    
            padding: 15px;
    
            background-color: white;
    
            border-radius: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
    
            .filter-name {
                color: #2A3B45;
                font-family: $roboto-condensed;
                font-size: 1.5rem;
                font-weight: bold;
            }
    
            &.genre {
                position: relative;
    
                display: flex;
                flex-flow: column;
                gap: 15px;
    
                .genre-dropdown {
                    width: 100%;
                    height: fit-content;
    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .add-genre {
                        width: 20px;
                        height: 20px;
        
                        position: relative;
        
                        outline: none;
                        border: none;
        
                        background-color: transparent;
    
                        transition: transform 0.5s;
        
                        span {
                            position: absolute;
        
                            display: inline-block;
                            
                            background-color: #2A3B45;
                            
                            &:nth-child(1) {
                                width: 4px;
                                height: 20px;
        
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                            
                            &:nth-child(2) {
                                width: 20px;
                                height: 4px;
        
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                            }
                        }
    
                        &.open {
                            transform: rotate(45deg);
                        }
                    }
                    
                    .dropdown-selections {
                        width: 70%;
                        height: 400px;
    
                        position: absolute;
                        top: 0;
                        left: calc(100% + 20px);
    
                        display: none;
    
                        border-radius: 5px;
    
                        overflow: auto;
    
                        .selection {
                            width: 100%;
                            height: 40px;
    
                            outline: none;
                            border: none;
    
                            font-family: $roboto-condensed;
                            font-weight: bold;
    
                            &:hover {
                                background-color: #567CA0;
                            }
                        }
    
                        &.open {
                            display: initial;
                        }
                    }
                }
    
                .added-genres {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
    
                    .filter-genre {
                        width: fit-content;
                        height: fit-content;
                        
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        padding: 5px 10px;
    
                        border-radius: calc(1.4rem + 10px);
    
                        background-color: #567CA0;
                        color: white;
                        font-size: 1.4rem;
                        font-family: $roboto-condensed;
    
                        box-shadow: 1px 1px 2px 0px rgba(15, 58, 102, 0.473);
                        
                        .remove-genre {
                            width: 16px;
                            height: 16px;
                            position: relative;
    
                            outline: none;
                            border: none;
                            background-color: transparent;
    
                            transform: rotate(45deg);
    
                            span {
                                position: absolute;
    
                                display: inline-block;
    
                                background-color: #2A3B45;
    
                                pointer-events: none;
    
                                &:nth-child(1) {
                                    width: 2px;
                                    height: 12px;
    
                                    top: 2px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                                
                                &:nth-child(2) {
                                    width: 12px;
                                    height: 2px;
    
                                    left: 2px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
    
            &.year {
                display: flex;
                justify-content: space-between;
                align-items: center;

                select {
                    width: 60px;

                    outline: none;
                    border: none;

                    font-family: $roboto-condensed;
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }

            &.order-by {
                display: flex;
                justify-content: space-between;
                align-items: center;

                select {

                    outline: none;
                    border: none;

                    font-family: $roboto-condensed;
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }

        a {
            width: fit-content;
            padding: 10px 20px;
            display: inline-block;

            border: 2px solid white;
            border-radius: 5px;

            text-decoration: none;
            color: white;
            background-color: transparent;
            font-size: 1.7rem;
            font-family: $roboto-condensed;

            transition: background-color 0.5s,
                        color 0.5s;

            &:hover {
                background-color: white;
                color: #2A3B45;

                transition: none;
            }
        }
    }

    .results-container {
        width: 100%;
        padding: 40px 0px;

        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 90px;

        .card-row {
            max-width: calc(calc(160px * 5) + calc(40px * 4));
            padding-bottom: 6rem;

            overflow: hidden;

            .cards-container {
                width: 10000px;
                height: fit-content;
                
                display: flex;
                gap: 40px;

                .discover-card {
                    width: 160px;
                    height: 240px;
                    position: relative;
    
                    // border-radius: 5px;
                    // border: 2px solid #2A3B45;
                    
                    background-color: #567CA0;
                    background-color: transparent;
                    opacity: 0;
                    
                    transition: width 0.2s;
                    // overflow: hidden;
    
                    animation: fadeIn 0.5s forwards;
    
                    &:nth-child(2) {
                        animation-delay: 0.1s;
                    }
                    &:nth-child(3) {
                        animation-delay: 0.2s;
                    }
                    &:nth-child(4) {
                        animation-delay: 0.3s;
                    }
                    &:nth-child(5) {
                        animation-delay: 0.4s;
                    }
    
                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            transform: translateX(100%) rotate(45deg) scale(0);
                        } to {
                            opacity: 1;
                            transform: translateX(0%) rotate(0deg) scale(1);
                        }
                    }

                    .wrapper {
                        width: 100%;
                        height: 100%;

                        position: relative;

                        border-radius: 5px;
                        border: 2px solid #26323D;
                        overflow: hidden;

                        .backdrop-wrapper, .poster-wrapper {
                            width: 100%;
                            height: 100%;
        
                            img {
                                width: 100%;
                                height: 100%;
        
                                object-fit: cover;
                            }
                        }
        
                        .poster-wrapper {
                            transform: translateY(-100%);
        
                            transition: transform 0.5s;
                        }
        
                        .details-wrapper {
                            width: 100%;
                            height: 100%;
        
                            position: absolute;
                            top: 0;
                            left: 0;
        
                            visibility: hidden;
                            opacity: 0;
                            background: linear-gradient( to top, #0F1B26, #0f1b2600 );
        
                            transition: visibility 0s 0.5s,
                                        opacity 0.5s;
                        }
                    }
    
                    .title {
                        width: 100%;
                        height: fit-content;
    
                        position: absolute;
                        top: calc(100% + 2rem);
    
                        display: inline-block;
    
                        color: white;
                        font-family: $roboto-condensed;
                        font-size: 1.7rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        pointer-events: none;
                    }
    
                    &:hover {
                        width: 360px;
                        
                        .wrapper {
                            .poster-wrapper {
                                transform: translateY(0%);
                            }
        
                            .details-wrapper {
                                visibility: visible;
                                opacity: 1;
        
                                transition: opacity 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
}